body {
    background-color: rgb(75, 145, 211);
}

.NotActive {
    display: none;
}

.Mode{
    position: absolute;
    width: 30%;
    height: 20%;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
}